.product-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: box-shadow 0.5s ease;;
  -moz-transition: box-shadow 0.5s ease;;
  -o-transition: box-shadow 0.5s ease;;
  transition: box-shadow 0.5s ease;
  &:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);

  }
}


.product-icon {
  height: 300px;
  display: flex;
  align-items: center;
  & img {
    max-width: 300px;
    height: auto;
    max-height: 300px;
  }
}

.product-stock-available, .product-stock-unavailable {
  position: absolute;
  top: 20px;
  right: 20px;
  &::after{
    font-family: fontawesome, sans-serif;
    font-weight: bold;
  }
}

.product-stock-available:after {
  content: '\f058';
  color: green;
}

.product-stock-unavailable:after {
  content: '\f057';
  color: red;
}

.product-stock-unavailable:hover::before, .product-stock-available:hover::before {
  content: attr(hint);
  display: inline-block;
  position: absolute;
  width: max-content;
  width: -moz-max-content;
  left: 50%;
  transform: translate(-50%, 25px);
  font-size: small;
}
